*{
    box-sizing: border-box;
}

body{
    padding: 0;
    background-color: #000000;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    margin: 3rem 0;
    height: 100vh;
}

img{
    
    display: block;
    width: 5.625rem;
    margin: 0 auto;
}

.heading-color{
    color: #FFFFFF;
}

h1{
    font-size: 1.5rem;
}

#input-field{
    border: none;
    width: 19rem;
    height: 7.375rem;
    background-color: #444059;
    border-radius: 8px;
    margin-bottom: 0.4rem;
    color: #FFFFFF;
    padding: 10px;
}

button{
    color: #04131C;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #28A9F1;
    width: 19rem;
    height: 3.8125rem;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 500;
}

.from-to{
    display: flex;
    width: 19rem;
    margin: 0 auto;
    margin-bottom: 0.4rem;
    justify-content: space-between;
}

.from-to input{
    width: 9rem;
    height: 2.3125rem;
    background-color: #444059;
    border-radius: 8px;
    padding: 0.4rem;
    color: #FFFFFF;
    border: none;
}

.single-post{
    background-color: #FFFFFF;
    color: #1B1924;
    width: 19rem;
    margin: 0.5rem auto 0 auto;
    padding: 0.9rem;
    text-align: left;
}

p{
    margin:0.3rem 0;
    font-family: 'Inter', sans-serif;
    font-size: 0.85rem;
    color: #1B1924;
}

.span-to, .span-from{
    font-weight: 800;
    color: #1B1924;
}

.post-bottom{
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 700px) {
    .paragraphs{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 0 3rem;
    }
    
    .single-post{
        flex-grow: 1;
        width:fit-content;
    }

    img{
        width: 10rem;
    }

    h1{
        font-size: 5vw;
    }

    h3{
        font-size: 3vw;
    }

    #input-field{
        width: 55vw;
        font-size: 2rem;
    }

    button{
        width: 55vw;
        font-size: 2.8rem;
        padding-top: 0.5rem;
        height: 6rem;
    }

    .from-to{
        width: 55vw;
    }

    .from-to input{
        width: 27vw;
        height: 5vw;
        font-size: 2rem;
    }
}